body {
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    margin-left: 100px;
    padding: 30px;
    
}

.color {
    border: solid 1px black;
    display: inline-block;
    width: 80px;
    height: 80px;
}

#black {
    background-color: black;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

.pixel {
    display: inline-block;
    border: solid black 1px;
    background: white;
}
